.game-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
}

.lamp {
    width: 150px;
    height: 150px;
    background-image: url('img/lightbulb_off.png');
    background-size: cover;
    cursor: pointer;
}

.lamp.active {
    background-image: url('img/lightbulb_on.png');
}

.timer {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}